body {
	padding-top: 60px;
	font-family: 'Varela Round', sans-serif;
	font-size: 16px;
}

strong {
	font-family: 'Montserrat', sans-serif;
}

h1,
h2,
h3,
h4,
h5 {
	font-family: 'Montserrat', sans-serif;
}

.jp-navbar {
	background: rgba(255,255,255,0.9);
	-webkit-box-shadow: 0px 4px 7px 0px rgba(0,0,0,0.4);
	-moz-box-shadow: 0px 4px 7px 0px rgba(0,0,0,0.4);
	box-shadow: 0px 4px 7px 0px rgba(0,0,0,0.4);
}

.jp-navbar li a {
	padding: 20px 15px;
	color: #000;
}

.logo {
	font-size: 16px;
	line-height: 16px;
	padding-top: 14px;
	width: 250px;
	height: 60px;
}

.logo .glyphicon {
	float: left; 
	font-size: 28px; 
	margin-right: 10px
}

.logo small {
	font-weight: 300;
}

.house {
	background: #d1c8bb url(../images/house-blur.jpg) no-repeat top center;   
  	-webkit-background-size: cover;  
  	-moz-background-size: cover;  
  	-o-background-size: cover;  
  	background-size: cover;  
  	-ms-filter: "progid:DXImageTransform.Microsoft.AlphaImageLoader(src='../images/house-blur.jpg', sizingMethod='scale')";  
  	filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src='../images/house-blur.jpg', sizingMethod='scale'); 
}

.heading {
	padding-top: 225px;
	padding-bottom: 125px;
}

h1 {
	text-align: center;
	color: #fff;
	line-height: 70px;
	font-size: 50px
}

h1 span {
	background: #785e40;
	padding: 5px 10px;
}

.tower {
	background: transparent url('../images/tower.png') 95% 20px no-repeat;
	padding-right: 300px;
	padding-top: 75px;
	padding-bottom: 75px;
}

.report {
	padding-top: 70px;
	padding-bottom: 70px;
	background: #d1c8bb url(../images/report.jpg) no-repeat top center;   
  	-webkit-background-size: cover;  
  	-moz-background-size: cover;  
  	-o-background-size: cover;  
  	background-size: cover;  
  	-ms-filter: "progid:DXImageTransform.Microsoft.AlphaImageLoader(src='../images/report.jpg', sizingMethod='scale')";  
  	filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src='../images/report.jpg', sizingMethod='scale'); 
}

.report .content {
	background: #fff; 
	padding: 10px 15px; 
}

.services {
	padding-top: 60px;
	padding-bottom: 90px;
	background: #6ba8ce;
	color: #fff;
}

.services a {
	color: #fff;
	text-decoration: underline;
}

.services .glyphicon,
.contact .glyphicon {
	font-size: 64px;
}

.service-wrapper {
	margin-top: 20px;
	margin-bottom: 30px;
	padding: 20px;
	-webkit-border-radius: 10px;
	-moz-border-radius: 10px;
	border-radius: 10px;
	border: 5px solid #fff;
}

.about {
	padding-top: 70px;
	padding-bottom: 70px;
}

.about img {
	padding-top: 10px;
}

.contact {
	background: #404040;
	padding-top: 60px;
	padding-bottom: 40px;
}

.contact h2 {
	color: #fff;
}

.contact .service-wrapper {
	background: #fff;
}

.copyright {
	margin-top: 90px;
	color: #fff;
}

@media (max-width: 1200px) {
	.tower {
		background-position: 95% bottom;
	}
}

@media (max-width: 768px) {
	h1 {
		font-size: 40px;
		line-height: 58px;
	}
	.heading {
		padding-top: 150px;
		padding-bottom: 75px;
	}
	.tower {
		background: none;
		padding-right: 0px;
		padding-top: 55px;
		padding-bottom: 55px;
	}
}